html
    head
        title Luggage Storage: #{businessName}
        link(rel='stylesheet', href='./styles/style.css')
    body
        div.store-wrapper
            h1.header
                a(href=url target="_blank") #{businessName}
            h2.sub-header Rating: #{rating} out of 5 stars
            img.store-img(src=imgUrl alt="Image of business in your area")