html
    head
        title Luggage Storage: #{location}
        link(rel='stylesheet', href='./styles/style.css')
    body.store-list-body
        div.store-wrapper
            h1.header Searching for Lugguage Storage in #{location}
            a.nav-link(href='/') Home
            div.store-list
                each object in businessList
                    each business in object
                        h3.store-title 
                            a(href=business.url, target="_blank") #{business.name}
                        a.img-link(href=business.url, target="_blank")
                            img(src=business.image_url, alt="Business' image", width=200, height=200)
            a.nav-link(href='/') Home